---
layout: page
title: L'équipe de la RenALT
---
{% for member in site.data.equipe %}
<div class="team-member">
  {% if member.picture %}
    <div class="img-profile" style="background-image: linear-gradient(to right, rgba(236, 179, 7, 0.2), rgba(236, 179, 7, 0.2)), url('/assets/images/{{ member.picture }}');"></div>
  {% endif %}
    <div>
    <p>
      <strong>{{ member.name }}</strong> 
      {% if member.organisations %}
        {% for orga in member.organisations %}
          {% if orga.url %}
            <a href="{{ orga.url }}">{{ orga.name }}</a>
          {% else %}
            {{ orga.name }}
          {% endif %}
          {% if forloop.index < member.organisations.size - 1 %}, {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <p>
      {{ member.description }}
    </p>
  </div>
</div>
{% endfor %}