---
layout: page
title: Ils sont intéressés
---

<div class="stakeholders">
  {% for participant in site.data.participants %}
  <div>
    {% if participant.img %}<img src="assets/images/participants/{{participant.img}}" style="max-width:100px; max-height: 100px;" alt="{{ participant.name }}">{% endif %}
    <h4>
      {% if participant.url %}
        <a href="{{ participant.url }}">
      {% endif %}

      {{ participant.name }}

      {% if participant.url %}
        </a>
      {% endif %}
    </h4>
  </div>
  {% endfor %}


  <p>
    Vous êtes intéressé·e·s pour rejoindre le réseau ? <a href="/contact">Contactez-nous !</a>
  </p>

</div>


