---
layout: page
title: Résultats du Sondage
---


{% capture my_include %}{% include results_1.md %}{% endcapture %}
{{ my_include | markdownify }}

<div style="width:100%;">
<div style="position:relative;width:100%;height:0;padding-bottom:60%;">
  {% include map.html %}
</div>
</div>


{% capture my_include %}{% include results_2.md %}{% endcapture %}
{{ my_include | markdownify }}