---
layout: default
title: Index
---

<div class="text-center give-me-some-space">
  <h1>

    🛠 Acteurs de la low-tech<br>
    ➕ <br>
    🙌 Envie de se fédérer <br>
    ➕ <br>
    📅 16, 17 et 18 octobre 2020 <br>
    ➕ <br>
    🏙 Lyon/Villeurbanne <br>
    = <br>
    🌱 1ère RenALT
  </h1>
</div>

<h2>Les prochains rendez-vous</h2>


<h3>Café des acteurs de la Low Tech</h3>

<p>Rendez-vous sur <a href="https://meet.jit.si/RenALT">meet.jit.si/RenALT</a> <b>tous les derniers mercredi du mois à 16h</b>.</p>

<p>Prochain rendez-vous <b>le 28 avril 2021 à 16h</b>.</p>


<h3>Prochaine RenALT</h3>

<p>Dates et lieu à définir !</p>
