<footer class="footer" role="contentinfo">
    <small>
      {{ site.time | date: '%Y' }} Rencontre des Acteurs de la Low-Tech / <a href="/atom.xml">Flux RSS</a> / Réalisé avec 💛 selon des principes low-tech et <a href="/opensource">opensource</a>
    </small>
</footer>
