<nav class="navigation">
  <ul>
    <!-- <li><a href="/notes" {% if page.url == "/notes" %}class="active"{% endif %}>Notes</a></li> -->
    <!-- <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Accueil</a></li> -->
    <li><a href="/decouvrir" {% if page.url == "/decouvrir" %}class="active"{% endif %}>Le projet</a></li>
    <li><a href="/equipe" {% if page.url == "/equipe" %}class="active"{% endif %}>L'équipe</a></li>
    <li><a href="/ils-sont-interesses" {% if page.url == "/ils-sont-interesses" %}class="active"{% endif %}>Ils sont intéressés</a></li>
    <li><a href="/infos-pratiques" {% if page.url == "/infos-pratiques" %}class="active"{% endif %}>Infos pratiques</a></li>
    <li><a href="/contact" {% if page.url == "/contact" %}class="active"{% endif %}>Contact</a></li>
    <li><a href="/programme" {% if page.url == "/programme" %}class="active"{% endif %}>Retours sur la 1ère édition</a></li>

    <!-- <li><a href="/agenda" {% if page.url == "/agenda" %}class="active"{% endif %}>Agenda</a></li>
    <li><a href="/infolettre" {% if page.url == "/infolettre" %}class="active"{% endif %}>Lettre d'info</a></li>
    <li><a href="/adhesion" {% if page.url == "/adhesion" %}class="active"{% endif %}>Adhesion</a></li>
    <li><a href="/contact" {% if page.url == "/contact" %}class="active"{% endif %}>Contact</a></li> -->
    <!--<li><a href="/projects" {% if page.url == "/projects" %}class="active"{% endif %}>Évènements</a></li>-->
  </ul>
</nav>
