$bright-color: #e1c05c;
$dark-color: #ECB307;


html {
  box-sizing: border-box;
  background: #FFFBED;
/*  background: url('/assets/images/background.svg') no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem;
    border-top: $dark-color 3px solid;
    border-bottom: $dark-color 3px solid;
}

strong, b, h1, h2, h3, h4 {
	font-weight: bold;
}

header {
    margin-bottom: 3rem;
    position: relative;
}

hr {
    background: $dark-color;
    border: 0;
    height: 2px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid $dark-color;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    margin: 0.5rem 0;
    /*width: 100%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);*/
}

nav {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        line-height: 3em;
        margin: 0;

        li {
            display: inline-block;
        }
    }
    a {
        margin: 0.5rem;
        font-variant: small-caps;
        padding: 0.5rem 0.8rem;
        border-bottom: solid rgba($color: $dark-color, $alpha: 0.2);
    }
    a:hover {
      text-decoration: none;
      border-bottom: solid rgba($color: $bright-color, $alpha: 0.2);
    }
}

article {
  // p {
  //
  //   text-align: center;
  // }
  // img {
  //   max-width: 500px;
  // }
}


footer {
    margin-top: 3rem;
}

.team-member {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
  
  img {
    flex: 1;
  }
  .img-profile {
    flex: 0 1 auto;
    width: 146px;
    height: 146px;
    margin: 0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  div {
    flex: 3;
  }
}

.stakeholders {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;

  div {
    flex: 0 0 16em;
    margin: 1em 0;
    text-align: center;

    h4 {
      margin-top: 0;
    }
  }
}
