$bright: #e1c05c;
$dark: #ECB307;
$black: #301800;
$light: #ffffff;

body {
  background-color: $light;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $black;
}

header p strong {
    text-transform: uppercase;
}

a,a:visited {
  color: $dark;
  text-decoration: none;
}
a:hover {
  color: $bright;
  text-decoration: underline;
}

a.post-title,a:visited.post-title {
    background: $dark;
    margin: auto;
    color: white;
    padding: 2rem;
    width: max-content;
    width: fit-content; /* experimental, fallback to previous line if fail */
    width: -moz-fit-content; // Mozilla
    width: -webkit-fit-content; // Most browsers
    width: -webkit-fill-available; // Samsung Internet
    // font-weight: 400;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    -webkit-clip-path: polygon(97.03% 26%, 96.90% 82.00%, 1.67% 79%, 2.04% 21%);
    clip-path: polygon(97.03% 26%, 96.90% 82.00%, 1.67% 79%, 2.04% 21%);
    transition: clip-path 0.3s cubic-bezier(.22,.61,.36,1);
    &:hover {
      color: white;
      // color: rgba($color: $bright, $alpha: 0.98);
      // background: rgba($color: $dark, $alpha: 0.98);
      -webkit-clip-path: polygon(97.37% 22%, 99.10% 85.00%, 2.01% 85%, 1.36% 20%);
      clip-path: polygon(97.37% 22%, 99.10% 85.00%, 2.01% 85%, 1.36% 20%);
    }
}

a.active, {
    background: $dark;
    padding: 0.5rem 0.8rem;
    color: white;
    -webkit-clip-path: polygon(95.87% 15.34%, 98.06% 92.81%, 1.67% 92.33%, 4.35% 10.33%);
    clip-path: polygon(95.87% 15.34%, 98.06% 92.81%, 1.67% 92.33%, 4.35% 10.33%);
    transition: clip-path 0.3s cubic-bezier(.22,.61,.36,1);
    &:hover {
      background: $bright;
      -webkit-clip-path: polygon(98.18% 7.34%, 100.37% 98.14%, 1.67% 95.00%, 4.35% 2.33%);
      clip-path: polygon(98.18% 7.34%, 100.37% 98.14%, 1.67% 95.00%, 4.35% 2.33%);
    }
    font-weight: bold;
    border: none !important;
}

a.btn {
    padding: 0.5rem;
    color: $light;
    font-weight: bold;
    &.btn-primary {
      background: $bright;
    }
    &.btn-secondary {
      background: $dark;
    }
    &:hover {
      opacity: .9;
    }
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid $dark;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, pre {
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 92%;
}

pre {
  background: $dark;
  color: $light;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.date {
  opacity: 0.6;
}

.text-center {
  text-align: center;
}

.give-me-some-space {
  margin: 3rem;
}