---
layout: compress
---

<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
    {% include masthead.html %}
      <main id="main" role="main">
        {{ content }}
      </main>
    <!-- <hr> -->
    {% include footer.html %}
  </body>
</html>
